
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", sans-serif;
    color: #272727;
    background-color: #EFF1F3 ;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    color: #EFF1F3;
    border-radius:15px;

}

h2 {
    font-size: 50px;
    text-align: center;
}
.seccionPrimera article {
    background-color:#009FB7;
}

.seccionSegunda article {
    background-color: #057D8F;
}

.seccionTercera article {
    background-color:#086270;
}

.seccionCuarta article {
    background-color: #0A4D58;
}

.seccionQuinta article {
    background-color: #0A3D45;
}

/*MENÚ TOGGLE CELULAR - TABLET*/

header .navBar {
    display: none;
}

header .navBarMenuCelu {
    background-color: #BEE7E8;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

header .navBarMenuCelu .brandCelu img {
    padding-top: 15px;
    width: 120px;
}

header .backMenu .menuCelu {
    display: none;
}

header .navBarMenuCelu #toggle {
    width: 30px;
    height: 30px;
    margin-left: auto;
    padding: 12px;
    background-color: #BEE7E8;
}

header .navBarMenuCelu #toggle div {
    width: 100%;
    height: 5px;
    background: #2E2836;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    z-index: 9999;
    position: sticky;
}

header .navBarMenuCelu .on .one {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.5s;
}

header .navBarMenuCelu .on .two {
    opacity: 0;
    transition: 0.5s;
}

header .navBarMenuCelu .on .three {
    transform: rotate(-45deg) translate(7px, -8px);
    transition: 0.5s;
}

/* estilos MENÚ CELULAR*/

header .backMenu .menuShow {
    background-color: #BEE7E8;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    padding: 10px;
    font-family: "Urbanist", sans-serif;
    font-weight: 800;
    line-height: 80px;
    text-align: left;
    display: flex;
    z-index: 99999;
    flex-direction: column;
    position: fixed;
    top: 60px;
    }


header .backMenu .itemMenuCelu {
    text-decoration: none;
    font-size: 20px;
    color: #2E2836;
}

header .backMenu .menuCelu .opcionesMenuCelu {
    display: none;
}

header .backMenu .menuCelu .subMenuCeluDesplegado {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: 50px;
    font-size: 16px;
    list-style: none;
}

.itemSubmenuCelu a {
    color: #2E2836;
    text-decoration: none;
}

.itemSubmenuCelu a:hover {
    color: gray;
    font-weight: 600;
    transition: 0.2s;
}


.opciones {
    display: none;
}

header .backMenu .navBarRRSS {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}

header .backMenu .navBarRRSS .itemMenuRRSS {
    text-decoration: none;
    font-family: "Manrope", sans-serif;
    color: #2E2836;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
}

header .backMenu .navBarRRSS .itemMenuRRSS:hover {
    color: grey;
    transition: 0.2s;
    padding: 20px;
}




@media(min-width: 992px) {

    header .navBarMenuCelu {
        display: none;
    }

    header .navBarMenuCelu .backMenu .navBarRRSS {
        display: none;
        
    }

    header .navBar {
        background-color: #FED766;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;       
        margin-top: 10px;
        border-radius: 15px;
        font-family: "Manrope", sans-serif;
    }

    header .navBar.fixed {
        position: fixed;
        width: 90%;
        top: 0%;
        right: 5%;
        background-color: #FED766;
        z-index: 4444;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;        animation: slideDown 0.7s ease;
    }

    header .navBar .brand {
        display: inline-flex;
    }

    header .navBar .brand img {
        width: 120px;
        padding-left: 20px;

    }

    header .navBar .itemMenu {
        display: inline-block;
        padding-right: 10px;
        font-family: "Urbanist", sans-serif;
        font-weight: 800;
        font-size: 16px;
        text-decoration: none;
        color: #2E2836;
    }

    header .navBar .itemMenu:hover {
        color: #EFF1F3;
        font-weight: 800;
        transition: 0.2s;
    }

    .backMenu .menuShow {
        display: none;
    }

    .menuDesktop ul {
        display: none;
    }

    .menuDesktop .menuDesplegado {
        display: flex;
        flex-direction: column;
        width: 15%;
        background-color: #F6C22A;
        list-style: none;
        padding: 10px;
        z-index: 9999;
        position: absolute;
        padding-top: 25px;
        text-align: left;
        border-radius: 5px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    }

    .menuDesplegado a {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        padding-bottom: 18px;
        text-decoration: none;
        color: #2E2836;
        font-size: 15px;
    }

    .menuDesplegado a:hover {
        color: #EFF1F3;
        transition: 0.3s;
    }
}

@keyframes slideDown {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }